# Working through Python Crash Course, by Eric Matthes.

## Chapter 5 - Tuples

In [1]:
tuplelist = ('A', 'B', 'C', 'D', 'E')

In [2]:
tuplelist[1]

'B'

In [3]:
for tupleitem in tuplelist:
    print(tupleitem)

A
B
C
D
E

In [4]:
 cars = ['audi', 'bmw', 'cadillac', 'dodge', 'e63']

In [5]:
for car in cars:
    if car == 'bmw':
        print('Car is a ' + car.upper())
    elif car == 'audi':
        print('The car is an ' + car.title())
    else:
        print('Car is a ' + car.title())
    print('Done.')

The car is an Audi
Done.
Car is a BMW
Done.
Car is a Cadillac
Done.
Car is a Dodge
Done.
Car is a E63
Done.

In [6]:
requested_toppings = []

if requested_toppings

SyntaxError: invalid syntax (<ipython-input-6-556f8c856703>, line 3)

In [ ]:
cars.sort()
print(cars[::-1])
cars

In [ ]:
if users:
    for user in users:
        if user == 'admin':
            print('Hello ' + user + ', would you like to see a statust report?')
        else:
            print('Hello ' + user.title() + ', thanks for logging in again.')
else:
    print('Please add users.')

In [ ]:
current_users = ['erik', 'crystal', 'tEd', 'brittany', 'admin']
new_users = ['bob', 'erik', 'bill', 'tEd', 'ted']
current_users_lower = [user.lower() for user in current_users]
all_users = []
for new_user in new_users:
    if new_user.lower() not in current_users_lower:
        print(new_user + ' is available')
    else:
        print(new_user + ' is already taken, please select a new username.')

In [ ]:
ordinals = list(range(1,10,1))
for num in ordinals:
    if num == 1:
        print(str(num) + 'st')
    elif num == 2:
        print(str(num) + 'nd')
    elif num == 3:
        print(str(num) + 'rd')
    else:
        print(str(num) + 'th')

## Chapter 6 - Dictionaries

In [ ]:
alien_0 = {'color': 'green', 'points': 5}
print(alien_0['color'])
print(alien_0['points'])

In [ ]:
points = 10
new_points = alien_0['points']
print('Bam. You just earned ' + str(new_points) + 
      ' points! You now have ' + str(points + new_points) +' points!')

In [ ]:
# Adding x- and y-coordinates
alien_0['x_position'] = 0
alien_0['y_position'] = 25
print(alien_0)

In [ ]:
alien_0['color'] = 'yellow'
print('The alien is now ' + alien_0['color'])

In [ ]:
alien_0 = {'x_position': 0, 'y_position': 25, 'speed': 'medium'}
print(alien_0)
del alien_0['speed']
print(alien_0)

In [ ]:
cool_cars = {
    'bentley': 'continental', 
    'audi': 'r8',
    'nissan': 'gtr',
    'mercedes': 'gtr',
    'porsche': '911 turbo s',
    'toyota': 'supra',
    'volkswagen': 'golf r',
    'porsche': 'cayman s'
}

for k, v in cool_cars2.items():
    if v == 'gtr':
        print('Have you seen the ' + k.title() + ' ' + v.upper() + "? It's pretty cool.")
    else:
        print('Have you seen the ' + k.title() + ' ' + v.title() + "? It's pretty cool.")
    
print('\n')

print('The unique models mentioned as "cool" were :\n')
for model in set(cool_cars.values()):
    if model == 'gtr':
        print(model.upper())
    else:
        print(model.title())

In [7]:
alien_0 = {'color': 'green', 'points': 1}
alien_1 = {'color': 'yellow', 'points': 5}
alien_2 = {'color': 'orange', 'points': 10}
alien_3 = {'color': 'red', 'points': 15}
alien_4 = {'color': 'black', 'points': 20}
alien_5 = {'color': 'gold', 'points': 30}

aliens = [alien_0, alien_1, alien_2, alien_3, alien_4, alien_5]

for alien in aliens:
    print(alien)

{'color': 'green', 'points': 1}
{'color': 'yellow', 'points': 5}
{'color': 'orange', 'points': 10}
{'color': 'red', 'points': 15}
{'color': 'black', 'points': 20}
{'color': 'gold', 'points': 30}

In [8]:
aliens = []

for alien_number in range(30):
    if alien_number < 3:
        new_alien = {'color': 'green', 'points': 5, 'speed':'slow'}
        aliens.append(new_alien)
    else:
        new_alien = {'color': 'yellow', 'points': 10, 'speed':'medium'}
        aliens.append(new_alien)
        
        
for alien in aliens[:5]:
    print(alien)
print('...')

print('Total numer of aliens: ' + str(len(aliens)))

{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'yellow', 'points': 10, 'speed': 'medium'}
{'color': 'yellow', 'points': 10, 'speed': 'medium'}
...
Total numer of aliens: 30

In [9]:
cool_cars = {
    'audi': ['r8', 's3', 's5 sportback'],
    'bmw': ['m5 competition', 'm2 competition', 'm3'],
    'aston martin': ['db11', 'db9', 'vantage', 'valkyrie', 'valhalla']
    }

for mfg, models in cool_cars.items():
    if mfg == 'bmw':
        print(mfg.upper() + "'s cool cars are:")
        for model in models:
            print('\t' + mfg.upper() + ' ' + model.title())
        print('\n')
    else:
        print(mfg.title() + "'s cool cars are:")
        for model in models:
            if model in ['db11','db9']:
                print('\t' + mfg.title() + ' ' + model.upper())
            else:
                print('\t' + mfg.title() + ' ' + model.title())
        print('\n')

Audi's cool cars are:
	Audi R8
	Audi S3
	Audi S5 Sportback


BMW's cool cars are:
	BMW M5 Competition
	BMW M2 Competition
	BMW M3


Aston Martin's cool cars are:
	Aston Martin DB11
	Aston Martin DB9
	Aston Martin Vantage
	Aston Martin Valkyrie
	Aston Martin Valhalla

In [10]:
users = {
    'aeinstein': {
        'first': 'albert',
        'last': 'einstein',
        'location': 'princeton'
        },
    'mcurie': {
        'first': 'marie',
        'last': 'curie',
        'location': 'paris'
        }
    }

for username, user_info in users.items():
    print('Username: ' + username)
    print('   First name: ' + user_info['first'].title())
    print('   Last name: ' + user_info['last'].title())
    print('   Location: ' + user_info['location'].title())

Username: aeinstein
   First name: Albert
   Last name: Einstein
   Location: Princeton
Username: mcurie
   First name: Marie
   Last name: Curie
   Location: Paris

In [11]:
cities = {
    'colorado': {
        'denver': {
            'lat': 39.74,
            'lon': 104.99,
            'population': 619968
            },
        'boulder': {
            'lat': 40.02,
            'lon': 105.27,
            'population': 107353
            }
        },
    'texas': {
        'austin': {
            'lat': 30.28,
            'lon': 97.74,
            'population': 964000
            },
        'san antonio': {
            'lat': 29.42,
            'lon': 98.49,
            'population': 1493000
            }
        },
    'wisconsin': {
        'madison': {
            'lat': 43.07,
            'lon': 89.40,
            'population': 258000
            },
        'milwaukee': {
            'lat': 43.04,
            'lon': 87.91,
            'population': 592000
            }
        }

    }

for state, city in cities.items():
    print('State: ' + state.title() + '\n')
    for city_name, city_details in city.items():
        print('\tCity: ' + city_name.title())
        print('\t\tLatitude: ' + str(city_details['lat']))
        print('\t\tLongitude: ' + str(city_details['lon']))
        print('\t\tPopulation: ' + str(city_details['population']))
        print('\n')

State: Colorado

	City: Denver
		Latitude: 39.74
		Longitude: 104.99
		Population: 619968


	City: Boulder
		Latitude: 40.02
		Longitude: 105.27
		Population: 107353


State: Texas

	City: Austin
		Latitude: 30.28
		Longitude: 97.74
		Population: 964000


	City: San Antonio
		Latitude: 29.42
		Longitude: 98.49
		Population: 1493000


State: Wisconsin

	City: Madison
		Latitude: 43.07
		Longitude: 89.4
		Population: 258000


	City: Milwaukee
		Latitude: 43.04
		Longitude: 87.91
		Population: 592000

## Chapter 7

In [15]:
fave_flave = input("What's your favorite flavor of ice cream? ")
print('\nYum! '+ fave_flave.title() + ' sounds delicous!')

What's your favorite flavor of ice cream? espresso

Yum! Espresso sounds delicous!

In [20]:
prompt_bday = 'When is your Birthday? '
prompt_name = 'What is your name? '

bday = input(prompt_bday)
name = input(prompt_name)

message = bday + ' is a special day for ' + name + '!'
message += " It's " + name + "'s Birthday!"
print(message)

When is your Birthday? May 1
What is your name? Clarice
May 1 is a special day for Clarice! It's Clarice's Birthday!

## Pandas

## Numpy

## Matplotlib